version: "3.9"

services:
  fastapi:
    build: ./app
    container_name: fastapi_app
    environment:
      MYSQL_HOST: db
      MYSQL_USER: user
      MYSQL_PASSWORD: pass123
      MYSQL_DATABASE: appdb
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: appdb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
